[run]
branch = True
source = icemac.addressbook
         icemac.ab.importer
         icemac.ab.importxls

[report]
precision = 2
omit = */generations/*
       */startup.py
       */tests/*
       */tests.py
       */conftest.py
exclude_lines =
    pragma: no cover
    class I[A-Z]\w+\((zope\.interface\.Interface|.*I[A-Z].*)\):
    def test_.+[0-9]_webdriver\(
    def po_.*_webdriver\(\):
    class PO\w+\(WebdriverPageObjectBase

[html]
directory = htmlcov
