*.egg-info
*.pyc
*.sublime-workspace
.DS_Store
.Python
.cache
.coverage
.coverage.*
.installed.cfg
.mr.developer.cfg
.pytest_cache/
.tox/
DE_TODO
admin.zcml
bin
buildout.cfg
coverage
deploy.ini
develop-eggs
docs/_build
eggs
geckodriver.log
htmlcov
include/
install.user.ini
lib/
log/*
mac/
my-buildout.cfg
parts
pip-selfcheck.json
pyvenv.cfg
site.zcml
var/*
var/chameleon-cache/*
zdaemon.conf
zeo.conf
zope.conf
