#edit-form fieldset div.group {
    display: none;
}

#edit-form fieldset div.visible {
}

#edit-form fieldset {
    display: inline-block;
    padding-bottom: 9px !important;
    margin-bottom: 5px;
    width: 98%;
}

#edit-form fieldset legend {
    cursor: pointer;
}

#edit-form div.viewspace p,
#edit-form fieldset div.group p {
    font-size: 85%;
}

#edit-form div.viewspace p {
    color: #555;
}

#edit-form fieldset div.group p {
    color: #666;
}